build/*
.venv
.env
__pycache__/
base*

*.db
**.json
**/temp/
**test.py

token.txt
test/*
config.json
LinkMess.json
temp/*
modules/bridge/data.json
modules/karma_sistem/data.json
/modules/cold_old_man/data.json
/modules/cold_old_man/table.json
modules/rsn/rsn.db
database.db
